.about {
    display: flex;
    padding: 5%;
    width: 90%;
    gap: 20px;
    align-items: center;
    margin: 0 5%;
    // background-color: red;
    border-top: 1px solid gray;


    & section {
        width: 50%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 10px;

        & small {
            font-size: 20px;
            font-weight: bold;
        }

    }

    & figure {
        width: 50%;
        display: grid;
        justify-content: space-around;
        gap: 20px;
        grid-template-columns: auto auto auto auto auto;
        padding: 20px;

        & img {
            height: 60px;

            &:hover {
                scale: 1.2;
                transition: scale .5s;
                cursor: pointer;
            }
        }

    }
}

@media (max-width :950px) {
    .about {
        flex-direction: column;
        width: 100%;
        margin: 5% 0;
        padding: 5%;

        & section {
            width: 100%;
            font-size: 14px;
        }

        & figure {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}