nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;
    align-items: center;


    & ul {
        display: flex;
        width: 50%;
        justify-content: space-around;

        & li {
            list-style: none;
            display: flex;
            cursor: pointer;
            align-items: center;
            gap: 10px;
            padding: 5px;
            font-size: 18px;



            &:hover {
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }

}

.icon {
    font-size: 30px;
}